<div class="banner">
  <header>
    <img src="./assets/logo 3000 x 2101 vermelho D80100.png" alt="Logo N D" />
    <ul>
      <li href="">HOME</li>
      <li href="">ABOUT US</li>
      <li href="">EQUIPMENTS</li>
      <li href="">CONTACT</li>
    </ul>
    <div class="icones">
      <a href="https://www.facebook.com/natural.done" class="square-icons fa fa-facebook"></a>
      <a href="https://www.instagram.com/natural.done" class="square-icons fa fa-instagram"></a>
    </div>
  </header>
</div>
