.catalogo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-evenly;
    transition: all 0.4s;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}