
  .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  .tag{
    padding: 0 10px;
    background-color: red;
    border: transparent solid 1px;
    border-radius: 5px;
  }
  .card-hghlght{
    margin: 5px;
    background-size: cover;
    background-position: center;
    width: 240px;
    height: 240px;
    border: darkgrey solid 2px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px -15px rgba(0,0,0,0.62);
    pointer-events: auto;
    transform: scale(1);
    transition: all 0.4s;
  }
  .card-hghlght:hover{
    transform: scale(1.02);
  }
  
  .caption{
    padding-top: 0.5em;
}
}
