/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}


.catalogo:hover .card-hghlght:not(:hover) {
  opacity: 0.5;
  transform: scale(0.5);
} 

